@model List<ProyectoFinal_G3.Models.Cliente>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reporte de Clientes</h4>
        </div>
        <hr />

        <div class="mb-3">
            <a href="@Url.Action("ExportarClientesCSV", "Reportes")" class="btn btn-success">Exportar Excel (CSV)</a>
            <a href="@Url.Action("ExportarClientesPDF", "Reportes")" class="btn btn-danger">Exportar PDF</a>
        </div>


        <div class="card-body">
            <table class="table table-bordered table-hover table-dark text-white">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.Id_Clientes</td>
                            <td>@c.NombreCliente</td>
                            <td>@c.Correo</td>
                            <td>@c.Telefono</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>