@model List<ProyectoFinal_G3.Models.Usuario>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reporte de Usuarios</h4>
        </div>
        <hr />

        <div class="mb-3">
            <a href="@Url.Action("ExportarUsuariosCSV", "Reportes")" class="btn btn-success">Exportar Excel (CSV)</a>
            <a href="@Url.Action("ExportarUsuariosPDF", "Reportes")" class="btn btn-danger">Exportar PDF</a>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover table-dark text-white">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.IdUsuario</td>
                            <td>@u.Nombre_Completo</td>
                            <td>@u.Correo</td>
                            <td>@u.Id_Rol</td>
                            <td>@(u.Estado ? "Activo" : "Inactivo")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
